{% extends 'adminhome.html' %}

{% block containt %}
<style>
    .letter{
        width: 75%;
        margin-left: 15%;
    }
</style>

<div class="letter">
<br>
<h1 class="" style="margin-left: 150px;">Training Letter</h1><br>
From,<br>
___________<br>

____________<br>

____________<br>

____________<br>

Date: ________ [Date on Which the Letter is Written]<br>

To,<br>

____________<br>

____________<br>

____________<br>

____________<br>

Subject: Employment Training and Workshop.<br>

Dear Mr./Ms. __________ [Name of the Receiver],<br>

We, at Aero Honda sales and services Swargate, are pleased to inform you that<br> we are having a workshop on ___________ [Mention the Field of Work], 
<br>from the ______ {Starting Date} till the _____________ {Ending Date}.

<br>Your application was processed a few days ago by us and we feel<br> you are well-qualified for this internship.

Kindly reply us at the earliest,<br> so that we may get in touch with you to discuss further details.<br>

Regards,<br>

______________ [Name and Designation]<br>
<button class="btn bg-success" onclick="window.print()">Print</button>
</div>
{% endblock %}